body {
  background-color: #222;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  justify-content: center;
  max-width: 750px;
  padding: 0 20px 0 20px;
  margin: auto;
}
